 ### Training score = 98.13%
 ### Test score = 25.77%
 ### Training score = 98.13%
 ### Test score = 25.79%
 ###  Metrics test accuracy score = 25.79%
 ### Training score = 98.13%
 ### Test score = 25.81%
 ###  Metrics test accuracy score = 25.81%
 2020-04-12 13:46:42: In: run_rf End run_rfr part 1 
 ### Training score = 98.03%
 ### Test score = 25.69%
 ###  Metrics test accuracy score = 25.69%
 2020-04-12 14:06:25: In: run_rf End run_rfr part 1 
 2020-04-12 14:14:20: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.40%
 ###  Metrics test accuracy score = 32.40%
 2020-04-12 14:14:29: In: run_rf End run_rfr part 1 
 2020-04-12 14:16:30: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.46%
 ###  Metrics test accuracy score = 32.46%
 2020-04-12 14:18:30: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.40%
 ###  Metrics test accuracy score = 32.40%
 ### Cross validation scores:  [0.29920213 0.30452128 0.29560586 0.27163782 0.30359521]
 ### Accuracy of Model with Cross Validation average is: 29.49%
 2020-04-12 14:20:37: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.59%
 ###  Metrics test accuracy score = 32.59%
 ### Cross validation scores:  [0.29787234 0.30319149 0.30226365 0.2689747  0.30359521]
 ### Accuracy of Model with Cross Validation average is: 29.52%
 2020-04-12 14:26:26: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29920213 0.30319149 0.30226365 0.27296937 0.30093209]
 ### Accuracy of Model with Cross Validation average is: 29.57%
 2020-04-12 14:30:21: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.28%
 ###  Metrics test accuracy score = 32.28%
 ### Cross validation scores:  [0.29787234 0.30053191 0.30492676 0.27829561 0.30492676]
 ### Accuracy of Model with Cross Validation average is: 29.73%
 2020-04-12 14:42:57: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.53%
 ###  Metrics test accuracy score = 32.53%
 ### Cross validation scores:  [0.29388298 0.30718085 0.31158455 0.26364847 0.30226365]
 ### Accuracy of Model with Cross Validation average is: 29.57%
 2020-04-12 14:44:15: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.77%
 ###  Metrics test accuracy score = 32.77%
 ### Cross validation scores:  [0.3018617  0.29521277 0.30359521 0.26364847 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.41%
 2020-04-12 14:47:42: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29787234 0.30319149 0.30359521 0.27296937 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.68%
 2020-04-12 14:50:23: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.90%
 ###  Metrics test accuracy score = 32.90%
 ### Cross validation scores:  [0.30319149 0.29920213 0.30892144 0.27430093 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.84%
 In conf_matrix_function: y_train.shape[0]=3757
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 14:54:39: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.84%
 ###  Metrics test accuracy score = 32.84%
 ### Cross validation scores:  [0.30585106 0.30053191 0.30359521 0.27829561 0.29693742]
 ### Accuracy of Model with Cross Validation average is: 29.70%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 14:56:08: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.53%
 ###  Metrics test accuracy score = 32.53%
 ### Cross validation scores:  [0.29654255 0.30851064 0.30226365 0.27030626 0.30492676]
 ### Accuracy of Model with Cross Validation average is: 29.65%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:03:35: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 33.27%
 ###  Metrics test accuracy score = 33.27%
 ### Cross validation scores:  [0.30053191 0.29787234 0.30492676 0.27296937 0.29960053]
 ### Accuracy of Model with Cross Validation average is: 29.52%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:04:57: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.65%
 ###  Metrics test accuracy score = 32.65%
 ### Cross validation scores:  [0.29787234 0.30585106 0.30492676 0.26764314 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.65%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:05:39: In: run_rf End run_rfr part 1 
 2020-04-12 15:24:08: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29388298 0.30984043 0.30359521 0.26498003 0.30892144]
 ### Accuracy of Model with Cross Validation average is: 29.62%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:24:49: In: run_rf End run_rfr part 1 
 2020-04-12 15:27:40: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.77%
 ###  Metrics test accuracy score = 32.77%
 ### Cross validation scores:  [0.29787234 0.30053191 0.29826897 0.26764314 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.41%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:30:54: In: run_rf End run_rfr part 1 
 2020-04-12 15:33:41: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 31.91%
 ###  Metrics test accuracy score = 31.91%
 ### Cross validation scores:  [0.29654255 0.29920213 0.30226365 0.26098535 0.30226365]
 ### Accuracy of Model with Cross Validation average is: 29.23%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:34:34: In: run_rf End run_rfr part 1 
 2020-04-12 16:32:29: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 99.88%
 ### Test score = 32.12%
 ###  Metrics test accuracy score = 32.12%
 ### Cross validation scores:  [0.32479627 0.28987194 0.33410943 0.2991851  0.2972028 ]
 ### Accuracy of Model with Cross Validation average is: 30.90%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-12 16:33:28: In: run_rf End run_rfr part 1 
 2020-04-12 16:34:15: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 99.88%
 ### Test score = 31.94%
 ###  Metrics test accuracy score = 31.94%
 ### Cross validation scores:  [0.32828871 0.29103609 0.330617   0.28987194 0.3006993 ]
 ### Accuracy of Model with Cross Validation average is: 30.81%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-12 16:35:12: In: run_rf End run_rfr part 1 
 2020-04-12 16:35:37: In: training_test_set In training_test_set, train_size=0.98, and test_size=0.02 
 ### Training score = 99.90%
 ### Test score = 33.33%
 ###  Metrics test accuracy score = 33.33%
 ### Cross validation scores:  [0.31558935 0.32604563 0.29467681 0.32319392 0.3108365 ]
 ### Accuracy of Model with Cross Validation average is: 31.41%
 In conf_matrix_function: y_train.shape[0]=108
 In conf_matrix_function: y_pred_class.shape[0]=108
 2020-04-12 16:36:47: In: run_rf End run_rfr part 1 
 2020-04-12 16:43:05: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 99.91%
 ### Test score = 35.19%
 ###  Metrics test accuracy score = 35.19%
 ### Cross validation scores:  [0.30950141 0.32267168 0.29821261 0.31514581 0.31450094]
 ### Accuracy of Model with Cross Validation average is: 31.20%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 16:44:13: In: run_rf End run_rfr part 1 
 2020-04-12 17:04:31: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 99.91%
 ### Test score = 38.89%
 ###  Metrics test accuracy score = 38.89%
 ### Cross validation scores:  [0.28880527 0.30573848 0.27469426 0.2869238  0.26082863]
 ### Accuracy of Model with Cross Validation average is: 28.34%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 17:05:21: In: run_rf End run_rfr part 1 
 2020-04-12 17:18:59: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.64%
 ### Test score = 25.93%
 ###  Metrics test accuracy score = 25.93%
 ### Cross validation scores:  [0.24553151 0.26340546 0.22765757 0.24365005 0.2212806 ]
 ### Accuracy of Model with Cross Validation average is: 24.03%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 17:19:41: In: run_rf End run_rfr part 1 
 2020-04-12 20:39:18: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.64%
 ### Test score = 25.93%
 ###  Metrics test accuracy score = 25.93%
 ### Cross validation scores:  [0.24553151 0.26340546 0.22765757 0.24365005 0.2212806 ]
 ### Accuracy of Model with Cross Validation average is: 24.03%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 20:40:01: In: run_rf End run_rfr part 1 
 2020-04-12 21:55:57: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 21:56:39: In: run_rf End run_rfr part 1 
 2020-04-12 22:07:58: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:08:40: In: run_rf End run_rfr part 1 
 2020-04-12 22:17:05: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:19:27: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:20:09: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:24:30: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:22: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:58: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:59: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:28:43: In: run_rf End run_rfr part 1 
 2020-04-12 22:29:46: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:30:56: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:31:14: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:31:27: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:34:36: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:43:05: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:43:06: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:43:50: In: run_rf End run_rfr part 1 
 2020-04-12 22:45:18: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:52:09: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:52:51: In: run_rf End run_rfr part 1 
 2020-04-12 23:04:07: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:04:49: In: run_rf End run_rfr part 1 
 2020-04-12 23:10:02: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:10:47: In: run_rf End run_rfr part 1 
 2020-04-12 23:30:36: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:31:19: In: run_rf End run_rfr part 1 
 2020-04-13 19:09:44: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-13 19:10:24: In: run_rf End run_rfr part 1 
 2020-04-13 19:36:00: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:36:48: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 19:37:21: In: run_rf End run_rfr part 1 
 2020-04-13 19:38:13: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:38:42: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:39:35: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:41:26: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:41:59: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 19:42:33: In: run_rf End run_rfr part 1 
 2020-04-13 19:58:58: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:59:40: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 20:00:13: In: run_rf End run_rfr part 1 
 2020-04-13 20:02:23: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:03:02: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:06:53: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:07:49: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 20:08:22: In: run_rf End run_rfr part 1 
 2020-04-13 22:24:13: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-13 22:24:22: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-13 22:24:28: In: do_the_elbow 


Begin 
 2020-04-13 22:24:34: In: do_the_elbow 


End 
 2020-04-15 20:49:28: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 20:49:38: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:49:42: In: do_the_elbow 


Begin 
 2020-04-15 20:49:48: In: do_the_elbow 


End 
 2020-04-15 20:54:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 20:54:31: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:54:35: In: do_the_elbow 


Begin 
 2020-04-15 20:54:41: In: do_the_elbow 


End 
 2020-04-15 20:58:35: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 79.97%
 ### Test score = 24.21%
 ###  Metrics test accuracy score = 24.21%
 ### Cross validation scores:  [0.2572759  0.20256112 0.24097788 0.24097788 0.23076923]
 ### Accuracy of Model with Cross Validation average is: 23.45%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-15 20:58:44: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:58:50: In: do_the_elbow 


Begin 
 2020-04-15 20:58:57: In: do_the_elbow 


End 
 2020-04-15 21:02:52: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:03:01: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:03:05: In: do_the_elbow 


Begin 
 2020-04-15 21:03:12: In: do_the_elbow 


End 
 2020-04-15 21:09:58: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:10:07: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:10:12: In: do_the_elbow 


Begin 
 2020-04-15 21:10:19: In: do_the_elbow 


End 
 2020-04-15 21:11:07: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:11:16: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:11:21: In: do_the_elbow 


Begin 
 2020-04-15 21:11:28: In: do_the_elbow 


End 
 2020-04-15 21:14:40: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:14:50: In: run_rf End run_rfr part 1 
 2020-04-15 21:18:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:18:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:18:38: In: do_the_elbow 


Begin 
 2020-04-15 21:18:45: In: do_the_elbow 


End 
 2020-04-15 21:25:32: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:25:41: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:25:46: In: do_the_elbow 


Begin 
 2020-04-15 21:25:52: In: do_the_elbow 


End 
 2020-04-15 21:33:02: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:33:12: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:33:17: In: do_the_elbow 


Begin 
 2020-04-15 21:33:24: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-15 21:34:33: In: do_the_elbow 


Begin 
 2020-04-15 21:34:39: In: do_the_elbow 


End 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:34:48: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:34:51: In: do_the_elbow 


Begin 
 2020-04-15 21:34:58: In: do_the_elbow 


End 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:35:06: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:35:10: In: do_the_elbow 


Begin 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:35:27: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:35:31: In: do_the_elbow 


Begin 
 2020-04-15 21:37:55: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:39:26: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 78.24%
 ### Test score = 22.76%
 ###  Metrics test accuracy score = 22.76%
 ### Training score = 78.21%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.25407925 0.21678322 0.24154026 0.21236873 0.20303384]
 ### Accuracy of Model with Cross Validation average is: 22.56%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:15: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22144522 0.24504084 0.20886814 0.20186698]
 ### Accuracy of Model with Cross Validation average is: 22.81%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:23: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 22.11%
 ###  Metrics test accuracy score = 22.11%
 ### Cross validation scores:  [0.25874126 0.22960373 0.24154026 0.21820303 0.20303384]
 ### Accuracy of Model with Cross Validation average is: 23.02%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:32: In: run_rf End run_rfr part 1 
 ### Training score = 77.70%
 ### Test score = 22.67%
 ###  Metrics test accuracy score = 22.67%
 ### Cross validation scores:  [0.25757576 0.20979021 0.2403734  0.20886814 0.20536756]
 ### Accuracy of Model with Cross Validation average is: 22.44%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:33: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 23.04%
 ###  Metrics test accuracy score = 23.04%
 2020-04-15 21:53:45: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:56:18: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:57:10: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.22261072 0.23776224 0.21120187 0.22870478 0.21936989]
 ### Accuracy of Model with Cross Validation average is: 22.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:57:26: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:57:30: In: do_the_elbow 


Begin 
 2020-04-15 21:57:37: In: do_the_elbow 


End 
 2020-04-15 21:59:18: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.22261072 0.23776224 0.21120187 0.22870478 0.21936989]
 ### Accuracy of Model with Cross Validation average is: 22.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:59:35: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:59:39: In: do_the_elbow 


Begin 
 2020-04-15 21:59:45: In: do_the_elbow 


End 
 ### Training score = 77.75%
 ### Test score = 22.01%
 ###  Metrics test accuracy score = 22.01%
 ### Cross validation scores:  [0.21794872 0.23193473 0.21703617 0.23570595 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.28%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:59:53: In: run_rf End run_rfr part 1 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:02:05: In: run_rf End run_rfr part 1 
 2020-04-15 22:06:03: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:07:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 76.16%
 ### Test score = 22.67%
 ###  Metrics test accuracy score = 22.67%
 ### Cross validation scores:  [0.20862471 0.21445221 0.21586931 0.22170362 0.20886814]
 ### Accuracy of Model with Cross Validation average is: 21.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:07:25: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:07:29: In: do_the_elbow 


Begin 
 2020-04-15 22:07:36: In: do_the_elbow 


End 
 2020-04-15 22:13:46: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:15:57: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 61.19%
 ### Test score = -23.84%
 2020-04-15 22:18:54: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:21:10: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:21:14: In: do_the_elbow 


Begin 
 2020-04-15 22:21:21: In: do_the_elbow 


End 
 2020-04-15 22:33:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:34:17: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:35:10: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:37:13: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:37:17: In: do_the_elbow 


Begin 
 2020-04-15 22:37:23: In: do_the_elbow 


End 
 2020-04-15 22:47:26: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 77.21%
 ### Test score = 21.77%
 ###  Metrics test accuracy score = 21.77%
 ### Cross validation scores:  [0.23271131 0.24039517 0.21844127 0.23929748 0.22722283]
 ### Accuracy of Model with Cross Validation average is: 23.16%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 22:49:42: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:49:47: In: do_the_elbow 


Begin 
 2020-04-15 22:49:53: In: do_the_elbow 


End 
 2020-04-15 22:50:38: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 77.23%
 ### Test score = 23.51%
 ###  Metrics test accuracy score = 23.51%
 ### Cross validation scores:  [0.22941822 0.25246981 0.22283205 0.233809   0.233809  ]
 ### Accuracy of Model with Cross Validation average is: 23.45%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 22:52:47: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:52:53: In: do_the_elbow 


Begin 
 2020-04-15 22:52:59: In: do_the_elbow 


End 
 2020-04-15 23:02:07: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 23:03:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 23:03:39: In: do_the_elbow 


Begin 
 2020-04-15 23:03:46: In: do_the_elbow 


End 
 2020-04-15 23:04:55: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 2020-04-16 16:31:47: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-16 16:33:12: In: run_rf End run_rfr part 1 
 2020-04-16 16:43:25: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-16 16:44:49: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-16 16:44:54: In: do_the_elbow 


Begin 
 2020-04-16 16:44:59: In: do_the_elbow 


End 
 2020-04-19 17:27:54: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:27:59: In: do_the_elbow 


Begin 
 2020-04-19 17:28:05: In: do_the_elbow 


End 
 2020-04-19 17:30:53: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:30:58: In: do_the_elbow 


Begin 
 2020-04-19 17:31:03: In: do_the_elbow 


End 
 2020-04-19 17:32:19: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:32:24: In: do_the_elbow 


Begin 
 2020-04-19 17:32:30: In: do_the_elbow 


End 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 17:39:49: In: run_rf End run_rfr part 1 
 2020-04-19 17:40:08: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 2020-04-19 17:40:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 17:44:18: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 17:44:24: In: do_the_elbow 


Begin 
 2020-04-19 17:44:30: In: do_the_elbow 


End 
 2020-04-19 18:13:30: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 18:17:08: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:17:13: In: do_the_elbow 


Begin 
 2020-04-19 18:17:19: In: do_the_elbow 


End 
 2020-04-19 18:19:57: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 18:23:30: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:23:35: In: do_the_elbow 


Begin 
 2020-04-19 18:23:41: In: do_the_elbow 


End 
 2020-04-19 18:24:52: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 97.52%
 ### Training score = 97.52%
 ### Test score = 23.16%
 ###  Metrics test accuracy score = 23.16%
 ### Cross validation scores:  [0.22994029 0.23474589 0.23984273 0.22324159 0.22735217]
 ### Accuracy of Model with Cross Validation average is: 23.10%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 18:48:26: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 39.35%
 ###  Metrics test accuracy score = 39.35%
 ### Cross validation scores:  [0.40308723 0.3956604  0.39842726 0.39464104 0.39091174]
 ### Accuracy of Model with Cross Validation average is: 39.65%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 18:53:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:53:55: In: do_the_elbow 


Begin 
 2020-04-19 18:54:36: In: do_the_elbow 


End 
 2020-04-19 19:08:17: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 39.35%
 ###  Metrics test accuracy score = 39.35%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2b3dc710>, 'use_idf': True}
 2020-04-19 19:12:37: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:15:01: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:15:22: In: do_the_elbow 


Begin 
 2020-04-19 19:16:03: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a263a9b90>, 'use_idf': True}
 2020-04-19 19:25:11: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:27:31: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:28:34: In: do_the_elbow 


Begin 
 2020-04-19 19:30:21: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a25699850>, 'use_idf': True}
 2020-04-19 19:32:00: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:34:23: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:35:26: In: do_the_elbow 


Begin 
 2020-04-19 19:37:10: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 19:51:38: In: do_the_elbow 


Begin 
 2020-04-19 19:52:13: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 19:57:55: In: do_the_elbow 


Begin 
 2020-04-19 19:58:31: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:48:23: In: do_the_elbow 


Begin 
 2020-04-19 20:48:59: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:50:54: In: do_the_elbow 


Begin 
 2020-04-19 20:51:28: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:52:37: In: do_the_elbow 


Begin 
 2020-04-19 20:53:11: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a425cb290>, 'use_idf': True}
 2020-04-21 22:45:59: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-21 22:48:23: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-21 22:48:24: In: do_the_elbow 


Begin 
 2020-04-21 22:49:01: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a359e0fd0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a29ef2e50>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a390a28d0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a59ffd5d0>, 'use_idf': True}
 2020-04-23 21:36:25: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.54%
 ###  Metrics test accuracy score = 34.54%
 ### Cross validation scores:  [0.34032329 0.34352701 0.34804136 0.34673074 0.34153801]
 ### Accuracy of Model with Cross Validation average is: 34.40%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-23 21:38:48: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a35a40890>, 'use_idf': True}
 2020-04-23 21:45:05: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 37.44%
 ###  Metrics test accuracy score = 37.44%
 ### Cross validation scores:  [0.38206137 0.3804878  0.38678206 0.38243626 0.38070507]
 ### Accuracy of Model with Cross Validation average is: 38.25%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 21:47:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 21:47:05: In: do_the_elbow 


Begin 
 2020-04-23 21:47:36: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a385b9f50>, 'use_idf': True}
 2020-04-23 22:19:01: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 41.64%
 ###  Metrics test accuracy score = 41.64%
 ### Cross validation scores:  [0.41384736 0.42029898 0.42517703 0.42382751 0.42414227]
 ### Accuracy of Model with Cross Validation average is: 42.15%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:21:45: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 22:21:46: In: do_the_elbow 


Begin 
 2020-04-23 22:22:52: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a502ac290>, 'use_idf': True}
 2020-04-23 22:25:36: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:26:36: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a34f21cd0>, 'use_idf': True}
 2020-04-23 22:28:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 ### Cross validation scores:  [0.42108576 0.42423289 0.42627852 0.42854895 0.43925087]
 ### Accuracy of Model with Cross Validation average is: 42.79%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:30:18: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a539dc7d0>, 'use_idf': True}
 2020-04-23 22:34:47: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: 
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a34336c90>, 'use_idf': True}
 2020-04-23 22:36:15: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a537324d0>, 'use_idf': True}
 2020-04-23 22:38:15: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 42.89%
 ###  Metrics test accuracy score = 42.89%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.25, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a98619ad0>, 'use_idf': True}
 2020-04-23 22:41:37: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:42:37: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.5, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a71167110>, 'use_idf': True}
 2020-04-23 22:43:29: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a711c5d10>, 'use_idf': True}
 2020-04-23 22:45:09: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:46:10: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0025, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a74131c90>, 'use_idf': True}
 2020-04-23 22:49:07: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 39.84%
 ###  Metrics test accuracy score = 39.84%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5f8d83d0>, 'use_idf': True}
 2020-04-23 22:50:30: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 39.84%
 ###  Metrics test accuracy score = 39.84%
 ### Cross validation scores:  [0.40078678 0.40755311 0.41526357 0.40289581 0.40871892]
 ### Accuracy of Model with Cross Validation average is: 40.70%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:51:55: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 50, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a615c54d0>, 'use_idf': True}
 2020-04-23 22:54:45: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.17%
 ###  Metrics test accuracy score = 35.17%
 ### Cross validation scores:  [0.35389457 0.35892998 0.36113297 0.35930123 0.36496695]
 ### Accuracy of Model with Cross Validation average is: 35.96%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:55:37: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a70026750>, 'use_idf': True}
 2020-04-23 22:57:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:57:59: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a71a65550>, 'use_idf': True}
 2020-04-23 23:00:51: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 23:01:48: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 23:01:49: In: do_the_elbow 


Begin 
 2020-04-23 23:02:22: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:32:47: In: do_the_elbow 


Begin 
 2020-04-23 23:33:21: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:34:09: In: do_the_elbow 


Begin 
 2020-04-23 23:34:41: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:36:50: In: do_the_elbow 


Begin 
 2020-04-23 23:37:23: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6bbefdd0>, 'use_idf': True}
 2020-04-26 10:01:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:02:03: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:02:03: In: do_the_elbow 


Begin 
 2020-04-26 10:02:37: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a64fbd590>, 'use_idf': True}
 2020-04-26 10:04:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:05:37: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:05:37: In: do_the_elbow 


Begin 
 2020-04-26 10:06:12: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a63484710>, 'use_idf': True}
 2020-04-26 10:13:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.73%
 ###  Metrics test accuracy score = 36.73%
 ### Cross validation scores:  [0.37831603 0.3621684  0.37600923 0.36908881 0.38523645]
 ### Accuracy of Model with Cross Validation average is: 37.42%
 In conf_matrix_function: y_train.shape[0]=765
 In conf_matrix_function: y_pred_class.shape[0]=765
 2020-04-26 10:13:09: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:13:09: In: do_the_elbow 


Begin 
 2020-04-26 10:13:14: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5f682fd0>, 'use_idf': True}
 2020-04-26 10:14:04: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.73%
 ###  Metrics test accuracy score = 36.73%
 ### Cross validation scores:  [0.37831603 0.3621684  0.37600923 0.36908881 0.38523645]
 ### Accuracy of Model with Cross Validation average is: 37.42%
 In conf_matrix_function: y_train.shape[0]=765
 In conf_matrix_function: y_pred_class.shape[0]=765
 2020-04-26 10:14:11: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:14:11: In: do_the_elbow 


Begin 
 2020-04-26 10:14:16: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a63d1f810>, 'use_idf': True}
 2020-04-26 10:16:58: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.03%
 ###  Metrics test accuracy score = 36.03%
 ### Cross validation scores:  [0.36726987 0.36805665 0.37450826 0.37063267 0.36559647]
 ### Accuracy of Model with Cross Validation average is: 36.92%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:18:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:18:06: In: do_the_elbow 


Begin 
 2020-04-26 10:19:01: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a7deb7390>, 'use_idf': True}
 2020-04-26 10:24:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:30:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:30:06: In: do_the_elbow 


Begin 
 2020-04-26 10:30:59: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a22838b10>, 'use_idf': True}
 2020-04-26 21:55:12: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 22:00:46: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 22:00:47: In: do_the_elbow 


Begin 
 2020-04-26 22:01:43: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-26 22:17:01: In: do_the_elbow 


Begin 
 2020-04-26 22:17:55: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a20f57090>, 'use_idf': True}
 2020-04-26 22:31:54: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 22:37:22: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 22:37:22: In: do_the_elbow 


Begin 
 2020-04-26 22:38:15: In: do_the_elbow 


End 
 2020-04-26 22:39:16: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-26 22:39:16: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a29c0eed0>, 'use_idf': True}
 2020-04-27 11:34:22: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 11:40:16: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 11:40:17: In: do_the_elbow 


Begin 
 2020-04-27 11:41:09: In: do_the_elbow 


End 
 2020-04-27 11:42:10: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-27 11:42:10: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a222a4f90>, 'use_idf': True}
 2020-04-27 12:47:45: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 12:53:09: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 12:53:10: In: do_the_elbow 


Begin 
 2020-04-27 12:54:03: In: do_the_elbow 


End 
 2020-04-27 12:55:03: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-27 12:55:03: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a1fbda450>, 'use_idf': True}
 2020-04-27 14:38:59: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 14:44:29: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 14:44:29: In: do_the_elbow 


Begin 
 2020-04-27 14:45:24: In: do_the_elbow 


End 
 2020-04-27 14:46:27: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-27 14:46:27: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a307ac910>, 'use_idf': True}
 2020-04-27 14:55:35: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 15:01:02: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 15:01:02: In: do_the_elbow 


Begin 
 2020-04-27 15:01:55: In: do_the_elbow 


End 
 2020-04-27 15:02:59: In: run_affinity_propagation 


starting AffinityPropagation 
 params are {'damping': 0.5, 'max_iter': 50, 'convergence_iter': 15, 'copy': True, 'preference': None, 'affinity': 'euclidean', 'verbose': False}
 2020-04-27 15:02:59: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a206d2590>, 'use_idf': True}
 2020-04-27 15:34:03: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 15:39:26: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 15:39:26: In: do_the_elbow 


Begin 
 2020-04-27 15:40:19: In: do_the_elbow 


End 
 2020-04-27 15:41:20: In: run_affinity_propagation 


starting AffinityPropagation 
 params are {'damping': 0.5, 'max_iter': 50, 'convergence_iter': 15, 'copy': True, 'preference': None, 'affinity': 'euclidean', 'verbose': False}
 2020-04-27 15:41:20: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a221a7490>, 'use_idf': True}
 2020-04-27 18:17:20: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 18:22:43: In: run_rf End run_rfr part 1 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 19:04:29: In: run_rf End run_rfr part 1 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.03%
 ###  Metrics test accuracy score = 36.03%
 ### Cross validation scores:  [0.36726987 0.36805665 0.37450826 0.37063267 0.36559647]
 ### Accuracy of Model with Cross Validation average is: 36.92%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 19:11:00: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a46c8da90>, 'use_idf': True}
 2020-04-27 21:33:56: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 1957}
 ### Training score = 100.00%
 ### Test score = 36.94%
 ###  Metrics test accuracy score = 36.94%
 ### Cross validation scores:  [0.3595594  0.36490952 0.36380803 0.37016053 0.37519673]
 ### Accuracy of Model with Cross Validation average is: 36.67%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 21:36:27: In: run_rf End run_rfr part 1 
 2020-04-27 21:37:35: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a22cc6210>, 'use_idf': True}
 2020-04-27 21:56:04: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427}
 ### Training score = 100.00%
 ### Test score = 37.93%
 ###  Metrics test accuracy score = 37.93%
 ### Cross validation scores:  [0.36900184 0.36983782 0.35880288 0.37318174 0.3638796 ]
 ### Accuracy of Model with Cross Validation average is: 36.69%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-27 21:57:06: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a4708ced0>, 'use_idf': True}
 2020-04-27 22:01:38: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 # Inside run_rf, parameters passed were: {'n_estimators': 800, 'random_state': 20200427}
 ### Training score = 100.00%
 ### Test score = 38.14%
 ###  Metrics test accuracy score = 38.14%
 ### Cross validation scores:  [0.3750209  0.38053837 0.36565792 0.37368333 0.36923077]
 ### Accuracy of Model with Cross Validation average is: 37.28%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-27 22:09:57: In: run_rf End run_rfr part 1 
 2020-04-28 19:15:09: In: <module> Beginning DBSCAN 
 2020-04-28 19:17:34: In: <module> Ending DBSCAN 
 2020-04-28 19:19:08: In: <module> Beginning DBSCAN 
 2020-04-28 19:22:50: In: <module> Ending DBSCAN 
 2020-04-28 19:29:32: In: <module> Beginning DBSCAN 
 2020-04-28 19:32:35: In: <module> Ending DBSCAN 
 2020-04-28 19:49:33: In: <module> Beginning DBSCAN 
 2020-04-28 19:54:39: In: <module> Ending DBSCAN 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 50, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5dfc1d10>, 'use_idf': True}
 2020-04-28 19:58:03: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 19:58:04: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 36.62%
 ###  Metrics test accuracy score = 36.62%
 ### Cross validation scores:  [0.35579335 0.35897007 0.34843672 0.36549072 0.35819398]
 ### Accuracy of Model with Cross Validation average is: 35.74%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 19:58:54: In: run_rf End run_rfr part 1 
 2020-04-28 19:58:54: In: <module> Beginning DBSCAN 
 2020-04-28 19:58:54: In: <module> Running DBSCAN with parameters: {'eps': 2.0, 'min_samples': 5} 
 2020-04-28 20:03:14: In: <module> Ending DBSCAN 
 2020-04-28 20:05:50: In: <module> Beginning DBSCAN 
 2020-04-28 20:05:50: In: <module> Running DBSCAN with parameters: {'eps': 4.0, 'min_samples': 5} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 50, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a26148210>, 'use_idf': True}
 2020-04-28 20:11:17: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 20:11:18: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 36.62%
 ###  Metrics test accuracy score = 36.62%
 ### Cross validation scores:  [0.35579335 0.35897007 0.34843672 0.36549072 0.35819398]
 ### Accuracy of Model with Cross Validation average is: 35.74%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 20:12:06: In: run_rf End run_rfr part 1 
 2020-04-28 20:12:06: In: <module> Beginning DBSCAN 
 2020-04-28 20:12:06: In: <module> Running DBSCAN with parameters: {'eps': 4.0, 'min_samples': 5} 
 2020-04-28 20:17:22: In: <module> Ending DBSCAN 
 2020-04-28 20:31:24: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 36.62%
 ###  Metrics test accuracy score = 36.62%
 2020-04-28 20:32:39: In: <module> columns in X_train are Index(['revenue', 'Rev_div_Budget', 'lead_actor_le', 'runtime', 'budget',
       'about', 'after', 'all', 'an', 'are', 'at', 'be', 'but', 'by', 'family',
       'film', 'find', 'friend', 'from', 'get', 'ha', 'have', 'he', 'her',
       'him', 'into', 'it', 'life', 'love', 'man', 'new', 'not', 'on', 'one',
       'only', 'out', 'she', 'story', 'take', 'that', 'their', 'them', 'they',
       'this', 'time', 'two', 'up', 'wa', 'when', 'who', 'will', 'woman',
       'world', 'year', 'young'],
      dtype='object') 
 2020-04-28 20:32:39: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 36.62%
 ###  Metrics test accuracy score = 36.62%
 ### Cross validation scores:  [0.35579335 0.35897007 0.34843672 0.36549072 0.35819398]
 ### Accuracy of Model with Cross Validation average is: 35.74%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 20:33:28: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 50, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1aad177650>, 'use_idf': True}
 2020-04-28 20:34:30: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 20:34:33: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'about', 'after', 'all',
       'an', 'are', 'at', 'be', 'but', 'by', 'family', 'film', 'find',
       'friend', 'from', 'get', 'ha', 'have', 'he', 'her', 'him', 'into', 'it',
       'life', 'love', 'man', 'new', 'not', 'on', 'one', 'only', 'out', 'she',
       'story', 'take', 'that', 'their', 'them', 'they', 'this', 'time', 'two',
       'up', 'wa', 'when', 'who', 'will', 'woman', 'world', 'year', 'young'],
      dtype='object') 
 2020-04-28 20:34:33: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 35.75%
 ###  Metrics test accuracy score = 35.75%
 ### Cross validation scores:  [0.35144625 0.35629493 0.34174887 0.35127905 0.35217391]
 ### Accuracy of Model with Cross Validation average is: 35.06%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 20:35:23: In: run_rf End run_rfr part 1 
 2020-04-28 20:35:23: In: <module> Beginning DBSCAN 
 2020-04-28 20:35:23: In: <module> Running DBSCAN with parameters: {'eps': 4.0, 'min_samples': 5} 
 2020-04-28 20:40:47: In: <module> Ending DBSCAN 
 2020-04-28 20:43:51: In: <module> Beginning DBSCAN 
 2020-04-28 20:43:51: In: <module> Running DBSCAN with parameters: {'eps': 2.0, 'min_samples': 10} 
 2020-04-28 20:47:54: In: <module> Ending DBSCAN 
 2020-04-28 20:50:08: In: <module> Beginning DBSCAN 
 2020-04-28 20:50:08: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 20:52:46: In: <module> Ending DBSCAN 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a4bbe61d0>, 'use_idf': True}
 2020-04-28 20:57:47: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 20:57:48: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'adventure', 'agent',
       'american', 'army', 'attempt', 'away', 'band',
       ...
       'way', 'wife', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=203) 
 2020-04-28 20:57:48: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 41.64%
 ###  Metrics test accuracy score = 41.64%
 ### Cross validation scores:  [0.40745695 0.41498077 0.40461461 0.41180405 0.40468227]
 ### Accuracy of Model with Cross Validation average is: 40.87%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 20:59:01: In: run_rf End run_rfr part 1 
 2020-04-28 20:59:02: In: <module> Beginning DBSCAN 
 2020-04-28 20:59:02: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 21:02:04: In: <module> Ending DBSCAN 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5fe8c610>, 'use_idf': True}
 2020-04-28 21:04:26: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 21:04:26: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'accident', 'action',
       'adventure', 'affair', 'age', 'agent', 'america',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=298) 
 2020-04-28 21:04:26: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.35%
 ###  Metrics test accuracy score = 42.35%
 ### Cross validation scores:  [0.42902525 0.42835646 0.41631834 0.4181575  0.41906355]
 ### Accuracy of Model with Cross Validation average is: 42.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 21:06:06: In: run_rf End run_rfr part 1 
 2020-04-28 21:06:06: In: <module> Beginning DBSCAN 
 2020-04-28 21:06:06: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 21:09:18: In: <module> Ending DBSCAN 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a56993b50>, 'use_idf': True}
 2020-04-28 21:31:39: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-28 21:31:40: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'accident', 'action',
       'adventure', 'affair', 'age', 'agent', 'america',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=298) 
 2020-04-28 21:31:40: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.35%
 ###  Metrics test accuracy score = 42.35%
 ### Cross validation scores:  [0.42902525 0.42835646 0.41631834 0.4181575  0.41906355]
 ### Accuracy of Model with Cross Validation average is: 42.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-28 21:33:12: In: run_rf End run_rfr part 1 
 2020-04-28 21:33:13: In: <module> Beginning DBSCAN 
 2020-04-28 21:33:13: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 21:36:32: In: <module> Ending DBSCAN 
 2020-04-28 21:37:45: In: <module> Beginning DBSCAN 
 2020-04-28 21:37:45: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 21:40:06: In: <module> Beginning DBSCAN 
 2020-04-28 21:40:06: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 21:43:24: In: <module> Ending DBSCAN 
 ## We are plotting the elbow method!
 2020-04-28 21:43:24: In: do_the_elbow 


Begin 
 2020-04-28 21:45:41: In: do_the_elbow 


End 
 2020-04-28 21:56:58: In: <module> Beginning DBSCAN 
 2020-04-28 21:56:58: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-28 22:00:10: In: <module> Ending DBSCAN 
 ## We are plotting the elbow method!
 2020-04-28 22:00:10: In: do_the_elbow 


Begin 
 2020-04-28 22:02:17: In: do_the_elbow 


End 
 2020-04-28 22:05:01: In: <module> Running GMM with parameters: {'n_components': 11, 'random_state': 20200427} 
 2020-04-29 20:29:44: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 20:33:26: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 20:35:10: In: <module> Ending KMeans2 
 2020-04-29 20:36:13: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 20:38:01: In: <module> Ending KMeans2 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2e405d10>, 'use_idf': True}
 2020-04-29 20:40:48: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-29 20:40:48: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'accident', 'action',
       'adventure', 'affair', 'age', 'agent', 'america',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=298) 
 2020-04-29 20:40:48: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.35%
 ###  Metrics test accuracy score = 42.35%
 ### Cross validation scores:  [0.42902525 0.42835646 0.41631834 0.4181575  0.41906355]
 ### Accuracy of Model with Cross Validation average is: 42.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-29 20:42:26: In: run_rf End run_rfr part 1 
 2020-04-29 20:42:27: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 20:44:21: In: <module> Ending KMeans2 
 2020-04-29 21:41:17: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 21:44:10: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 21:46:01: In: <module> Ending KMeans2 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a3ee5a350>, 'use_idf': True}
 2020-04-29 21:47:43: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-29 21:47:44: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'accident', 'action',
       'adventure', 'affair', 'age', 'agent', 'america',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=298) 
 2020-04-29 21:47:44: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.35%
 ###  Metrics test accuracy score = 42.35%
 ### Cross validation scores:  [0.42902525 0.42835646 0.41631834 0.4181575  0.41906355]
 ### Accuracy of Model with Cross Validation average is: 42.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-29 21:49:16: In: run_rf End run_rfr part 1 
 2020-04-29 21:49:18: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 21:51:10: In: <module> Ending KMeans2 
 2020-04-29 21:56:27: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 21:59:25: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:00:26: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:02:16: In: <module> Ending KMeans2 
 2020-04-29 22:03:41: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:04:36: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:05:21: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:07:12: In: <module> Ending KMeans2 
 2020-04-29 22:07:56: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:09:52: In: <module> Ending KMeans2 
 2020-04-29 22:11:04: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:12:51: In: <module> Ending KMeans2 
 2020-04-29 22:15:52: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:17:48: In: <module> Ending KMeans2 
 2020-04-29 22:32:52: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:34:40: In: <module> Ending KMeans2 
 2020-04-29 22:36:14: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:38:03: In: <module> Ending KMeans2 
 2020-04-29 22:38:31: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:40:19: In: <module> Ending KMeans2 
 2020-04-29 22:41:28: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-29 22:43:28: In: <module> Ending KMeans2 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a31f9a0d0>, 'use_idf': True}
 2020-04-30 07:51:33: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-30 07:51:34: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'accident', 'action',
       'adventure', 'affair', 'age', 'agent', 'america',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=298) 
 2020-04-30 07:51:34: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.35%
 ###  Metrics test accuracy score = 42.35%
 ### Cross validation scores:  [0.42902525 0.42835646 0.41631834 0.4181575  0.41906355]
 ### Accuracy of Model with Cross Validation average is: 42.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-30 07:53:16: In: run_rf End run_rfr part 1 
 2020-04-30 07:53:16: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-30 07:55:08: In: <module> Ending KMeans2 
 2020-04-30 07:55:41: In: <module> Beginning DBSCAN 
 2020-04-30 07:55:41: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-30 07:58:54: In: <module> Ending DBSCAN 
 2020-04-30 07:58:54: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-30 08:00:43: In: <module> Ending KMeans2 
 2020-04-30 08:00:43: In: <module> Running GMM with parameters: {'n_components': 11, 'random_state': 20200427} 
 2020-04-30 08:22:10: In: <module> Beginning DBSCAN 
 2020-04-30 08:22:10: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-30 08:25:20: In: <module> Ending DBSCAN 
 2020-04-30 08:25:20: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-30 08:27:07: In: <module> Ending KMeans2 
 2020-04-30 08:27:07: In: <module> Running GMM with parameters: {'n_components': 11, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 500, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a46c48210>, 'use_idf': True}
 2020-04-30 12:37:18: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-30 12:37:19: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear', 'accident',
       'action', 'adventure', 'affair', 'age', 'agent',
       ...
       'wife', 'win', 'woman', 'work', 'working', 'world', 'year', 'yearold',
       'york', 'young'],
      dtype='object', length=299) 
 2020-04-30 12:37:19: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 43.49%
 ###  Metrics test accuracy score = 43.49%
 ### Cross validation scores:  [0.43604748 0.43688346 0.42618291 0.42752048 0.43428094]
 ### Accuracy of Model with Cross Validation average is: 43.22%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-04-30 12:38:46: In: run_rf End run_rfr part 1 
 2020-04-30 12:38:46: In: <module> Beginning DBSCAN 
 2020-04-30 12:38:46: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-04-30 12:42:01: In: <module> Ending DBSCAN 
 2020-04-30 12:42:01: In: <module> Running KMeans2 with parameters: {'n_clusters': 11, 'random_state': 20200427} 
 2020-04-30 12:49:36: In: <module> Ending KMeans2 
 2020-04-30 12:49:36: In: <module> Running GMM with parameters: {'n_components': 11, 'random_state': 20200427} 
 2020-05-03 00:02:01: In: <module> Beginning DBSCAN 
 2020-05-03 00:02:01: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-03 00:03:50: In: <module> Running with UMAP with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-03 00:08:58: In: <module> Beginning DBSCAN 
 2020-05-03 00:08:58: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-03 00:10:43: In: <module> Running with UMAP with parameters: {'n_neighbors': 5, 'min_dist': 0.3, 'metric': 'correlation'} 
 2020-05-03 00:12:19: In: <module> Beginning DBSCAN 
 2020-05-03 00:12:19: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-03 00:14:05: In: <module> Running with UMAP with parameters: {'n_neighbors': 5, 'min_dist': 0.3, 'metric': 'correlation'} 
 2020-05-03 00:17:31: In: <module> Beginning DBSCAN 
 2020-05-03 00:17:31: In: <module> Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-03 00:19:16: In: <module> Running with TSNE with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300} 
 2020-05-04 19:06:40: In: <module> Starting Clustering test 
 2020-05-04 19:06:40: In: <module> Running dbscan clustering with PCA 
 2020-05-04 19:07:57: In: <module> Starting Clustering test 
 2020-05-04 19:07:57: In: <module> Running dbscan clustering with PCA 
 2020-05-04 19:11:06: In: <module> Running kmeans clustering with PCA 
 2020-05-04 19:12:51: In: <module> Running gmm clustering with PCA 
 2020-05-04 19:18:14: In: <module> Running dbscan clustering with tsne 
 2020-05-04 19:33:14: In: <module> Running kmeans clustering with tsne 
 2020-05-04 19:46:44: In: <module> Running gmm clustering with tsne 
 2020-05-04 20:03:32: In: <module> Running dbscan clustering with umap 
 2020-05-04 20:07:03: In: <module> Running kmeans clustering with tsne 
 2020-05-04 20:09:16: In: <module> Running gmm clustering with tsne 
 2020-05-04 20:15:16: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6c2dc0d0>, 'use_idf': True}
 2020-05-06 19:20:30: In: <module> Starting Clustering test 
 2020-05-06 19:20:30: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20, 'random_state': 20200427} 
 2020-05-06 19:21:37: In: <module> Starting Clustering test 
 2020-05-06 19:21:37: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-06 19:23:32: In: cluster_dr_plotit Running PCA with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 19:29:23: In: <module> Starting Clustering test 
 2020-05-06 19:29:23: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-06 19:31:10: In: cluster_dr_plotit Running PCA with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 19:32:39: In: <module> Ending Clustering test 
 2020-05-06 19:34:27: In: <module> Starting Clustering test 
 2020-05-06 19:34:27: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-06 19:36:18: In: cluster_dr_plotit Running PCA with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 19:41:04: In: <module> Starting Clustering test 
 2020-05-06 19:41:04: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-06 19:42:55: In: cluster_dr_plotit Running PCA with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 19:50:51: In: <module> Starting Clustering test 
 2020-05-06 19:50:51: In: cluster_dr_plotit Running DBSCAN with parameters: {'eps': 0.5, 'min_samples': 20} 
 2020-05-06 19:52:40: In: cluster_dr_plotit Running PCA with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 19:54:06: In: <module> Ending Clustering test 
 2020-05-06 19:57:58: In: <module> Starting Clustering test 
 2020-05-06 20:01:12: In: <module> Starting Clustering test 
 2020-05-06 20:02:59: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20} and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:04:26: In: <module> Ending Clustering test 
 2020-05-06 20:04:48: In: <module> Starting Clustering test 
 2020-05-06 20:06:38: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:08:04: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a4a9c52d0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a3b8c1dd0>, 'use_idf': True}
 2020-05-06 20:16:04: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-06 20:16:04: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-06 20:16:04: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-06 20:16:59: In: run_rf End run_rfr part 1 
 2020-05-06 20:16:59: In: <module> Starting Clustering test 
 2020-05-06 20:18:36: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:20:01: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6d965350>, 'use_idf': True}
 2020-05-06 20:21:46: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-06 20:21:47: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-06 20:21:47: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-06 20:22:41: In: run_rf End run_rfr part 1 
 2020-05-06 20:22:41: In: <module> Starting Clustering test 
 2020-05-06 20:24:19: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:25:45: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a3a27ad10>, 'use_idf': True}
 2020-05-06 20:29:33: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-06 20:29:34: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-06 20:29:34: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-06 20:30:28: In: run_rf End run_rfr part 1 
 2020-05-06 20:30:28: In: <module> Starting Clustering test 
 2020-05-06 20:32:06: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:33:33: In: <module> Ending Clustering test 
 2020-05-06 20:34:39: In: <module> Starting Clustering test 
 2020-05-06 20:36:15: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:37:46: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:39:29: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 11, 'random_state': 20200427}
and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-06 20:48:21: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-06 20:55:41: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}
and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-06 21:03:08: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 11, 'random_state': 20200427}
and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-06 21:06:31: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}
and umap with parameters: {'n_neighbors': 5, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-06 21:08:25: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}
and umap with parameters: {'n_neighbors': 5, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-06 21:10:33: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 11, 'random_state': 20200427}
and umap with parameters: {'n_neighbors': 5, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-06 21:11:57: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6f389450>, 'use_idf': True}
 2020-05-07 23:13:45: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-07 23:13:45: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-07 23:13:45: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-07 23:14:42: In: run_rf End run_rfr part 1 
 2020-05-07 23:14:42: In: <module> Starting Clustering test 
 2020-05-07 23:16:24: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-07 23:18:02: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-07 23:20:03: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a78b56550>, 'use_idf': True}
 2020-05-08 08:03:12: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-08 08:03:12: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-08 08:03:12: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-08 08:04:07: In: run_rf End run_rfr part 1 
 2020-05-08 08:04:07: In: <module> Starting Clustering test 
 2020-05-08 08:05:55: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-08 08:07:33: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-08 08:09:02: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2d294350>, 'use_idf': True}
 2020-05-09 21:01:58: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-09 21:01:58: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'american', 'attempt',
       'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-09 21:01:58: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 39.82%
 ###  Metrics test accuracy score = 39.82%
 ### Cross validation scores:  [0.38906537 0.39809396 0.38639024 0.38555426 0.38979933]
 ### Accuracy of Model with Cross Validation average is: 38.98%
 In conf_matrix_function: y_train.shape[0]=7476
 In conf_matrix_function: y_pred_class.shape[0]=7476
 2020-05-09 21:02:53: In: run_rf End run_rfr part 1 
 2020-05-09 21:02:53: In: <module> Starting Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a4492fdd0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2b1f23d0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2ac40510>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a30b44510>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a472d45d0>, 'use_idf': True}
 2020-05-10 18:45:41: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-10 18:45:42: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', 'agent', 'american',
       'attempt',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-10 18:45:42: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.41%
 ###  Metrics test accuracy score = 42.41%
 ### Cross validation scores:  [0.42426273 0.41877095 0.42189944 0.43530726 0.42055866]
 ### Accuracy of Model with Cross Validation average is: 42.42%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-10 18:46:21: In: run_rf End run_rfr part 1 
 2020-05-10 18:50:54: In: <module> Starting Clustering test 
 2020-05-10 18:51:58: In: <module> Starting Clustering test 
 2020-05-10 18:52:48: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 18:53:57: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 18:55:02: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 18:59:21: In: <module> Starting Clustering test 
 2020-05-10 19:00:13: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 19:01:25: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 19:02:32: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2ca2c090>, 'use_idf': True}
 2020-05-10 19:05:43: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-10 19:05:43: In: <module> columns in X_train are Index(['Rev_div_Budget', 'lead_actor_le', 'runtime', 'ReleaseYear',
       'ReleaseMonth', 'ReleaseDay', 'ReleaseMonthDay', ''s', ':', 'american',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=107) 
 2020-05-10 19:05:43: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 43.70%
 ###  Metrics test accuracy score = 43.70%
 ### Cross validation scores:  [0.43744415 0.42681564 0.43687151 0.43955307 0.42480447]
 ### Accuracy of Model with Cross Validation average is: 43.31%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-10 19:06:22: In: run_rf End run_rfr part 1 
 2020-05-10 19:06:22: In: <module> Starting Clustering test 
 2020-05-10 19:07:11: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 19:08:23: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 19:09:29: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 19:14:43: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 19:19:12: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 19:23:36: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 19:26:00: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 19:27:38: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 19:29:16: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 19:30:23: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2b3a9110>, 'use_idf': True}
 2020-05-10 20:27:36: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-10 20:27:36: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-10 20:27:36: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-10 20:28:16: In: run_rf End run_rfr part 1 
 2020-05-10 20:28:16: In: <module> Starting Clustering test 
 2020-05-10 20:28:58: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 20:30:07: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 20:31:11: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 20:36:09: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 20:40:40: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5895a650>, 'use_idf': True}
 2020-05-10 22:06:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-10 22:06:26: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-10 22:06:26: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-10 22:07:06: In: run_rf End run_rfr part 1 
 2020-05-10 22:07:06: In: <module> Starting Clustering test 
 2020-05-10 22:07:48: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 22:08:58: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 22:10:03: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-10 22:15:00: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 22:19:28: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 22:23:47: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-10 22:25:57: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 22:27:33: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 22:29:03: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-10 22:30:08: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a589836d0>, 'use_idf': True}
 2020-05-16 21:06:23: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 21:06:23: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 21:06:23: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 21:07:03: In: run_rf End run_rfr part 1 
 2020-05-16 21:07:03: In: <module> Starting Clustering test 
 2020-05-16 21:07:45: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 21:08:57: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a60f86c90>, 'use_idf': True}
 2020-05-16 21:59:01: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 21:59:01: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 21:59:01: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 21:59:40: In: run_rf End run_rfr part 1 
 2020-05-16 21:59:40: In: <module> Starting Clustering test 
 2020-05-16 22:00:23: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 22:01:29: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2834cfd0>, 'use_idf': True}
 2020-05-16 22:15:01: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:15:01: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:15:01: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a623b4550>, 'use_idf': True}
 2020-05-16 22:17:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:17:20: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:17:20: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 22:18:00: In: run_rf End run_rfr part 1 
 2020-05-16 22:18:00: In: <module> Starting Clustering test 
 2020-05-16 22:18:42: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 22:19:47: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a61f5ad50>, 'use_idf': True}
 2020-05-16 22:21:45: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:21:45: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:21:45: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 22:22:24: In: run_rf End run_rfr part 1 
 2020-05-16 22:22:24: In: <module> Starting Clustering test 
 2020-05-16 22:23:06: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 22:24:12: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a589e3250>, 'use_idf': True}
 2020-05-16 22:25:02: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:25:02: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:25:02: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1aa6974910>, 'use_idf': True}
 2020-05-16 22:27:22: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:27:22: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:27:22: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a49fe2850>, 'use_idf': True}
 2020-05-16 22:30:34: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:30:34: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:30:34: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 22:31:14: In: run_rf End run_rfr part 1 
 2020-05-16 22:31:14: In: <module> Starting Clustering test 
 2020-05-16 22:31:56: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 22:33:02: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2f384990>, 'use_idf': True}
 2020-05-16 22:37:28: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:37:28: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:37:28: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a54b09f10>, 'use_idf': True}
 2020-05-16 22:41:41: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 22:41:41: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 22:41:41: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a4f023610>, 'use_idf': True}
 2020-05-16 23:32:07: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 23:32:07: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 23:32:07: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a906ec690>, 'use_idf': True}
 2020-05-16 23:34:46: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-16 23:34:47: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-16 23:34:47: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.43521001 0.41899441 0.42636872 0.42994413 0.42145251]
 ### Accuracy of Model with Cross Validation average is: 42.64%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-16 23:35:26: In: run_rf End run_rfr part 1 
 2020-05-16 23:35:26: In: <module> Starting Clustering test 
 2020-05-16 23:36:08: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-16 23:37:12: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6f3128d0>, 'use_idf': True}
 2020-05-17 20:51:46: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 20:51:46: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 20:51:46: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-17 20:52:01: In: run_rf End run_rfr part 1 
 2020-05-17 20:52:02: In: <module> Starting Clustering test 
 2020-05-17 20:52:44: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 20:53:49: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5efedf90>, 'use_idf': True}
 2020-05-17 21:03:12: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 21:03:13: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 21:03:13: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a906d1a90>, 'use_idf': True}
 2020-05-17 21:18:45: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 21:18:46: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 21:18:46: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1aa20f6490>, 'use_idf': True}
 2020-05-17 21:19:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 21:19:25: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 21:19:25: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 In conf_matrix_function: y_train.shape[0]=5595
 In conf_matrix_function: y_pred_class.shape[0]=5595
 2020-05-17 21:19:41: In: run_rf End run_rfr part 1 
 2020-05-17 21:19:41: In: <module> Starting Clustering test 
 2020-05-17 21:20:23: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 21:21:31: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2ce9d410>, 'use_idf': True}
 2020-05-17 21:23:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 21:23:20: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 21:23:20: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 2020-05-17 21:23:35: In: run_rf End run_rfr part 1 
 2020-05-17 21:23:36: In: <module> Starting Clustering test 
 2020-05-17 21:24:18: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 21:25:22: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6799f9d0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a73f96350>, 'use_idf': True}
 2020-05-17 21:29:17: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 21:29:17: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 21:29:17: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 2020-05-17 21:29:34: In: run_rf End run_rfr part 1 
 2020-05-17 21:29:34: In: <module> Starting Clustering test 
 2020-05-17 21:30:15: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 21:31:29: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 21:32:37: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 21:37:42: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 21:42:20: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 21:46:41: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 21:48:49: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 21:50:26: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 21:52:05: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 21:53:12: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a3058bcd0>, 'use_idf': True}
 2020-05-17 22:54:13: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-17 22:54:14: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-17 22:54:14: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 2020-05-17 22:54:30: In: run_rf End run_rfr part 1 
 2020-05-17 22:54:30: In: <module> Starting Clustering test 
 2020-05-17 22:55:10: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 22:56:21: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 22:57:29: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-17 23:02:35: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 23:07:06: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 23:11:27: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-17 23:13:35: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 23:15:12: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 23:16:42: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-17 23:17:45: In: <module> Ending Clustering test 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.25, 'min_df': 100, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a719228d0>, 'use_idf': True}
 2020-05-18 13:03:34: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-05-18 13:03:35: In: <module> columns in X_train are Index(['lead_actor_le', 'runtime', 'ReleaseYear', 'ReleaseMonth', 'ReleaseDay',
       'ReleaseMonthDay', ''', ':', 'american', 'based',
       ...
       'want', 'war', 'way', 'wife', 'woman', 'work', 'world', 'year', 'york',
       'young'],
      dtype='object', length=106) 
 2020-05-18 13:03:35: In: run_rf # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 20200427} 
 ### Training score = 100.00%
 ### Test score = 42.97%
 ###  Metrics test accuracy score = 42.97%
 ### Cross validation scores:  [0.40393208 0.38516533 0.39678284 0.3896336  0.41733691]
 ### Accuracy of Model with Cross Validation average is: 39.86%
 2020-05-18 13:03:50: In: run_rf End run_rfr part 1 
 2020-05-18 13:03:50: In: <module> Starting Clustering test 
 2020-05-18 13:04:31: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-18 13:05:45: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-18 13:06:53: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and pca with parameters: {'n_components': 2, 'random_state': 20200427} 
 2020-05-18 13:12:20: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-18 13:17:07: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-18 13:21:38: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and tsne with parameters: {'n_components': 2, 'verbose': 1, 'perplexity': 40, 'n_iter': 300, 'random_state': 20200427} 
 2020-05-18 13:23:51: In: cluster_dr_plotit Running dbscan with parameters: {'eps': 0.5, 'min_samples': 20}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-18 13:25:27: In: cluster_dr_plotit Running kmeans with parameters: {'n_clusters': 11, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-18 13:27:01: In: cluster_dr_plotit Running gmm with parameters: {'n_components': 2, 'random_state': 20200427}<br />and umap with parameters: {'n_neighbors': 10, 'min_dist': 0.3, 'metric': 'correlation', 'random_state': 20200427} 
 2020-05-18 13:28:05: In: <module> Ending Clustering test 
