 ### Training score = 98.13%
 ### Test score = 25.77%
 ### Training score = 98.13%
 ### Test score = 25.79%
 ###  Metrics test accuracy score = 25.79%
 ### Training score = 98.13%
 ### Test score = 25.81%
 ###  Metrics test accuracy score = 25.81%
 2020-04-12 13:46:42: In: run_rf End run_rfr part 1 
 ### Training score = 98.03%
 ### Test score = 25.69%
 ###  Metrics test accuracy score = 25.69%
 2020-04-12 14:06:25: In: run_rf End run_rfr part 1 
 2020-04-12 14:14:20: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.40%
 ###  Metrics test accuracy score = 32.40%
 2020-04-12 14:14:29: In: run_rf End run_rfr part 1 
 2020-04-12 14:16:30: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.46%
 ###  Metrics test accuracy score = 32.46%
 2020-04-12 14:18:30: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.40%
 ###  Metrics test accuracy score = 32.40%
 ### Cross validation scores:  [0.29920213 0.30452128 0.29560586 0.27163782 0.30359521]
 ### Accuracy of Model with Cross Validation average is: 29.49%
 2020-04-12 14:20:37: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.59%
 ###  Metrics test accuracy score = 32.59%
 ### Cross validation scores:  [0.29787234 0.30319149 0.30226365 0.2689747  0.30359521]
 ### Accuracy of Model with Cross Validation average is: 29.52%
 2020-04-12 14:26:26: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29920213 0.30319149 0.30226365 0.27296937 0.30093209]
 ### Accuracy of Model with Cross Validation average is: 29.57%
 2020-04-12 14:30:21: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.28%
 ###  Metrics test accuracy score = 32.28%
 ### Cross validation scores:  [0.29787234 0.30053191 0.30492676 0.27829561 0.30492676]
 ### Accuracy of Model with Cross Validation average is: 29.73%
 2020-04-12 14:42:57: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.53%
 ###  Metrics test accuracy score = 32.53%
 ### Cross validation scores:  [0.29388298 0.30718085 0.31158455 0.26364847 0.30226365]
 ### Accuracy of Model with Cross Validation average is: 29.57%
 2020-04-12 14:44:15: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.77%
 ###  Metrics test accuracy score = 32.77%
 ### Cross validation scores:  [0.3018617  0.29521277 0.30359521 0.26364847 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.41%
 2020-04-12 14:47:42: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29787234 0.30319149 0.30359521 0.27296937 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.68%
 2020-04-12 14:50:23: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.90%
 ###  Metrics test accuracy score = 32.90%
 ### Cross validation scores:  [0.30319149 0.29920213 0.30892144 0.27430093 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.84%
 In conf_matrix_function: y_train.shape[0]=3757
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 14:54:39: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.84%
 ###  Metrics test accuracy score = 32.84%
 ### Cross validation scores:  [0.30585106 0.30053191 0.30359521 0.27829561 0.29693742]
 ### Accuracy of Model with Cross Validation average is: 29.70%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 14:56:08: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.53%
 ###  Metrics test accuracy score = 32.53%
 ### Cross validation scores:  [0.29654255 0.30851064 0.30226365 0.27030626 0.30492676]
 ### Accuracy of Model with Cross Validation average is: 29.65%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:03:35: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 33.27%
 ###  Metrics test accuracy score = 33.27%
 ### Cross validation scores:  [0.30053191 0.29787234 0.30492676 0.27296937 0.29960053]
 ### Accuracy of Model with Cross Validation average is: 29.52%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:04:57: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.65%
 ###  Metrics test accuracy score = 32.65%
 ### Cross validation scores:  [0.29787234 0.30585106 0.30492676 0.26764314 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.65%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:05:39: In: run_rf End run_rfr part 1 
 2020-04-12 15:24:08: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.22%
 ###  Metrics test accuracy score = 32.22%
 ### Cross validation scores:  [0.29388298 0.30984043 0.30359521 0.26498003 0.30892144]
 ### Accuracy of Model with Cross Validation average is: 29.62%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:24:49: In: run_rf End run_rfr part 1 
 2020-04-12 15:27:40: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 32.77%
 ###  Metrics test accuracy score = 32.77%
 ### Cross validation scores:  [0.29787234 0.30053191 0.29826897 0.26764314 0.30625832]
 ### Accuracy of Model with Cross Validation average is: 29.41%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:30:54: In: run_rf End run_rfr part 1 
 2020-04-12 15:33:41: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 99.89%
 ### Test score = 31.91%
 ###  Metrics test accuracy score = 31.91%
 ### Cross validation scores:  [0.29654255 0.29920213 0.30226365 0.26098535 0.30226365]
 ### Accuracy of Model with Cross Validation average is: 29.23%
 In conf_matrix_function: y_train.shape[0]=1611
 In conf_matrix_function: y_pred_class.shape[0]=1611
 2020-04-12 15:34:34: In: run_rf End run_rfr part 1 
 2020-04-12 16:32:29: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 99.88%
 ### Test score = 32.12%
 ###  Metrics test accuracy score = 32.12%
 ### Cross validation scores:  [0.32479627 0.28987194 0.33410943 0.2991851  0.2972028 ]
 ### Accuracy of Model with Cross Validation average is: 30.90%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-12 16:33:28: In: run_rf End run_rfr part 1 
 2020-04-12 16:34:15: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 99.88%
 ### Test score = 31.94%
 ###  Metrics test accuracy score = 31.94%
 ### Cross validation scores:  [0.32828871 0.29103609 0.330617   0.28987194 0.3006993 ]
 ### Accuracy of Model with Cross Validation average is: 30.81%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-12 16:35:12: In: run_rf End run_rfr part 1 
 2020-04-12 16:35:37: In: training_test_set In training_test_set, train_size=0.98, and test_size=0.02 
 ### Training score = 99.90%
 ### Test score = 33.33%
 ###  Metrics test accuracy score = 33.33%
 ### Cross validation scores:  [0.31558935 0.32604563 0.29467681 0.32319392 0.3108365 ]
 ### Accuracy of Model with Cross Validation average is: 31.41%
 In conf_matrix_function: y_train.shape[0]=108
 In conf_matrix_function: y_pred_class.shape[0]=108
 2020-04-12 16:36:47: In: run_rf End run_rfr part 1 
 2020-04-12 16:43:05: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 99.91%
 ### Test score = 35.19%
 ###  Metrics test accuracy score = 35.19%
 ### Cross validation scores:  [0.30950141 0.32267168 0.29821261 0.31514581 0.31450094]
 ### Accuracy of Model with Cross Validation average is: 31.20%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 16:44:13: In: run_rf End run_rfr part 1 
 2020-04-12 17:04:31: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 99.91%
 ### Test score = 38.89%
 ###  Metrics test accuracy score = 38.89%
 ### Cross validation scores:  [0.28880527 0.30573848 0.27469426 0.2869238  0.26082863]
 ### Accuracy of Model with Cross Validation average is: 28.34%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 17:05:21: In: run_rf End run_rfr part 1 
 2020-04-12 17:18:59: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.64%
 ### Test score = 25.93%
 ###  Metrics test accuracy score = 25.93%
 ### Cross validation scores:  [0.24553151 0.26340546 0.22765757 0.24365005 0.2212806 ]
 ### Accuracy of Model with Cross Validation average is: 24.03%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 17:19:41: In: run_rf End run_rfr part 1 
 2020-04-12 20:39:18: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.64%
 ### Test score = 25.93%
 ###  Metrics test accuracy score = 25.93%
 ### Cross validation scores:  [0.24553151 0.26340546 0.22765757 0.24365005 0.2212806 ]
 ### Accuracy of Model with Cross Validation average is: 24.03%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 20:40:01: In: run_rf End run_rfr part 1 
 2020-04-12 21:55:57: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 21:56:39: In: run_rf End run_rfr part 1 
 2020-04-12 22:07:58: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:08:40: In: run_rf End run_rfr part 1 
 2020-04-12 22:17:05: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:19:27: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:20:09: In: run_tfidf_vectorizer in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:24:30: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:22: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:58: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:27:59: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:28:43: In: run_rf End run_rfr part 1 
 2020-04-12 22:29:46: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:30:56: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:31:14: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:31:27: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:34:36: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:43:05: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:43:06: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:43:50: In: run_rf End run_rfr part 1 
 2020-04-12 22:45:18: In: run_tfidf_vectorizer2 in run_tfidf_vectorizer: df is a <class 'pandas.core.series.Series'> datatype. 
 2020-04-12 22:52:09: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 22:52:51: In: run_rf End run_rfr part 1 
 2020-04-12 23:04:07: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:04:49: In: run_rf End run_rfr part 1 
 2020-04-12 23:10:02: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:10:47: In: run_rf End run_rfr part 1 
 2020-04-12 23:30:36: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-12 23:31:19: In: run_rf End run_rfr part 1 
 2020-04-13 19:09:44: In: training_test_set In training_test_set, train_size=0.99, and test_size=0.01 
 ### Training score = 77.76%
 ### Test score = 12.96%
 ###  Metrics test accuracy score = 12.96%
 ### Cross validation scores:  [0.24410933 0.26201697 0.23279925 0.22808671 0.23374175]
 ### Accuracy of Model with Cross Validation average is: 24.02%
 In conf_matrix_function: y_train.shape[0]=54
 In conf_matrix_function: y_pred_class.shape[0]=54
 2020-04-13 19:10:24: In: run_rf End run_rfr part 1 
 2020-04-13 19:36:00: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:36:48: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 19:37:21: In: run_rf End run_rfr part 1 
 2020-04-13 19:38:13: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:38:42: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:39:35: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:41:26: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:41:59: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 19:42:33: In: run_rf End run_rfr part 1 
 2020-04-13 19:58:58: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 19:59:40: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 20:00:13: In: run_rf End run_rfr part 1 
 2020-04-13 20:02:23: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:03:02: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:06:53: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 2020-04-13 20:07:49: In: training_test_set In training_test_set, train_size=0.7, and test_size=0.3 
 ### Training score = 81.44%
 ### Test score = 25.12%
 ###  Metrics test accuracy score = 25.12%
 ### Cross validation scores:  [0.24766977 0.23733333 0.24266667 0.22933333 0.228     ]
 ### Accuracy of Model with Cross Validation average is: 23.70%
 In conf_matrix_function: y_train.shape[0]=1608
 In conf_matrix_function: y_pred_class.shape[0]=1608
 2020-04-13 20:08:22: In: run_rf End run_rfr part 1 
 2020-04-13 22:24:13: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-13 22:24:22: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-13 22:24:28: In: do_the_elbow 


Begin 
 2020-04-13 22:24:34: In: do_the_elbow 


End 
 2020-04-15 20:49:28: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 20:49:38: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:49:42: In: do_the_elbow 


Begin 
 2020-04-15 20:49:48: In: do_the_elbow 


End 
 2020-04-15 20:54:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 20:54:31: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:54:35: In: do_the_elbow 


Begin 
 2020-04-15 20:54:41: In: do_the_elbow 


End 
 2020-04-15 20:58:35: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 79.97%
 ### Test score = 24.21%
 ###  Metrics test accuracy score = 24.21%
 ### Cross validation scores:  [0.2572759  0.20256112 0.24097788 0.24097788 0.23076923]
 ### Accuracy of Model with Cross Validation average is: 23.45%
 In conf_matrix_function: y_train.shape[0]=1074
 In conf_matrix_function: y_pred_class.shape[0]=1074
 2020-04-15 20:58:44: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 20:58:50: In: do_the_elbow 


Begin 
 2020-04-15 20:58:57: In: do_the_elbow 


End 
 2020-04-15 21:02:52: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:03:01: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:03:05: In: do_the_elbow 


Begin 
 2020-04-15 21:03:12: In: do_the_elbow 


End 
 2020-04-15 21:09:58: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:10:07: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:10:12: In: do_the_elbow 


Begin 
 2020-04-15 21:10:19: In: do_the_elbow 


End 
 2020-04-15 21:11:07: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:11:16: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:11:21: In: do_the_elbow 


Begin 
 2020-04-15 21:11:28: In: do_the_elbow 


End 
 2020-04-15 21:14:40: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:14:50: In: run_rf End run_rfr part 1 
 2020-04-15 21:18:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:18:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:18:38: In: do_the_elbow 


Begin 
 2020-04-15 21:18:45: In: do_the_elbow 


End 
 2020-04-15 21:25:32: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 80.36%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22261072 0.24970828 0.22287048 0.21470245]
 ### Accuracy of Model with Cross Validation average is: 23.47%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:25:41: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:25:46: In: do_the_elbow 


Begin 
 2020-04-15 21:25:52: In: do_the_elbow 


End 
 2020-04-15 21:33:02: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:33:12: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:33:17: In: do_the_elbow 


Begin 
 2020-04-15 21:33:24: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-15 21:34:33: In: do_the_elbow 


Begin 
 2020-04-15 21:34:39: In: do_the_elbow 


End 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:34:48: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:34:51: In: do_the_elbow 


Begin 
 2020-04-15 21:34:58: In: do_the_elbow 


End 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:35:06: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:35:10: In: do_the_elbow 


Begin 
 ### Training score = 78.24%
 ### Test score = 22.20%
 ###  Metrics test accuracy score = 22.20%
 ### Cross validation scores:  [0.25757576 0.21445221 0.24854142 0.21003501 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.84%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:35:27: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:35:31: In: do_the_elbow 


Begin 
 2020-04-15 21:37:55: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:39:26: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 78.24%
 ### Test score = 22.76%
 ###  Metrics test accuracy score = 22.76%
 ### Training score = 78.21%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.25407925 0.21678322 0.24154026 0.21236873 0.20303384]
 ### Accuracy of Model with Cross Validation average is: 22.56%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:15: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 23.69%
 ###  Metrics test accuracy score = 23.69%
 ### Cross validation scores:  [0.26340326 0.22144522 0.24504084 0.20886814 0.20186698]
 ### Accuracy of Model with Cross Validation average is: 22.81%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:23: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 22.11%
 ###  Metrics test accuracy score = 22.11%
 ### Cross validation scores:  [0.25874126 0.22960373 0.24154026 0.21820303 0.20303384]
 ### Accuracy of Model with Cross Validation average is: 23.02%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:32: In: run_rf End run_rfr part 1 
 ### Training score = 77.70%
 ### Test score = 22.67%
 ###  Metrics test accuracy score = 22.67%
 ### Cross validation scores:  [0.25757576 0.20979021 0.2403734  0.20886814 0.20536756]
 ### Accuracy of Model with Cross Validation average is: 22.44%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:40:33: In: run_rf End run_rfr part 1 
 ### Training score = 78.24%
 ### Test score = 23.04%
 ###  Metrics test accuracy score = 23.04%
 2020-04-15 21:53:45: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:56:18: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 21:57:10: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.22261072 0.23776224 0.21120187 0.22870478 0.21936989]
 ### Accuracy of Model with Cross Validation average is: 22.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:57:26: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:57:30: In: do_the_elbow 


Begin 
 2020-04-15 21:57:37: In: do_the_elbow 


End 
 2020-04-15 21:59:18: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.48%
 ###  Metrics test accuracy score = 22.48%
 ### Cross validation scores:  [0.22261072 0.23776224 0.21120187 0.22870478 0.21936989]
 ### Accuracy of Model with Cross Validation average is: 22.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:59:35: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 21:59:39: In: do_the_elbow 


Begin 
 2020-04-15 21:59:45: In: do_the_elbow 


End 
 ### Training score = 77.75%
 ### Test score = 22.01%
 ###  Metrics test accuracy score = 22.01%
 ### Cross validation scores:  [0.21794872 0.23193473 0.21703617 0.23570595 0.21120187]
 ### Accuracy of Model with Cross Validation average is: 22.28%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 21:59:53: In: run_rf End run_rfr part 1 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:02:05: In: run_rf End run_rfr part 1 
 2020-04-15 22:06:03: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:07:25: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 76.16%
 ### Test score = 22.67%
 ###  Metrics test accuracy score = 22.67%
 ### Cross validation scores:  [0.20862471 0.21445221 0.21586931 0.22170362 0.20886814]
 ### Accuracy of Model with Cross Validation average is: 21.39%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:07:25: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:07:29: In: do_the_elbow 


Begin 
 2020-04-15 22:07:36: In: do_the_elbow 


End 
 2020-04-15 22:13:46: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:15:57: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 61.19%
 ### Test score = -23.84%
 2020-04-15 22:18:54: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:21:10: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:21:14: In: do_the_elbow 


Begin 
 2020-04-15 22:21:21: In: do_the_elbow 


End 
 2020-04-15 22:33:20: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:34:17: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 2020-04-15 22:35:10: In: training_test_set In training_test_set, train_size=0.8, and test_size=0.2 
 ### Training score = 77.84%
 ### Test score = 22.57%
 ###  Metrics test accuracy score = 22.57%
 ### Cross validation scores:  [0.22610723 0.24125874 0.2252042  0.23453909 0.21586931]
 ### Accuracy of Model with Cross Validation average is: 22.86%
 In conf_matrix_function: y_train.shape[0]=1072
 In conf_matrix_function: y_pred_class.shape[0]=1072
 2020-04-15 22:37:13: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:37:17: In: do_the_elbow 


Begin 
 2020-04-15 22:37:23: In: do_the_elbow 


End 
 2020-04-15 22:47:26: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 77.21%
 ### Test score = 21.77%
 ###  Metrics test accuracy score = 21.77%
 ### Cross validation scores:  [0.23271131 0.24039517 0.21844127 0.23929748 0.22722283]
 ### Accuracy of Model with Cross Validation average is: 23.16%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 22:49:42: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:49:47: In: do_the_elbow 


Begin 
 2020-04-15 22:49:53: In: do_the_elbow 


End 
 2020-04-15 22:50:38: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 77.23%
 ### Test score = 23.51%
 ###  Metrics test accuracy score = 23.51%
 ### Cross validation scores:  [0.22941822 0.25246981 0.22283205 0.233809   0.233809  ]
 ### Accuracy of Model with Cross Validation average is: 23.45%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 22:52:47: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 22:52:53: In: do_the_elbow 


Begin 
 2020-04-15 22:52:59: In: do_the_elbow 


End 
 2020-04-15 23:02:07: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-15 23:03:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-15 23:03:39: In: do_the_elbow 


Begin 
 2020-04-15 23:03:46: In: do_the_elbow 


End 
 2020-04-15 23:04:55: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 2020-04-16 16:31:47: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-16 16:33:12: In: run_rf End run_rfr part 1 
 2020-04-16 16:43:25: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 38.66%
 ### Test score = 24.25%
 ###  Metrics test accuracy score = 24.25%
 ### Cross validation scores:  [0.233809   0.26344676 0.23600439 0.25356751 0.23819978]
 ### Accuracy of Model with Cross Validation average is: 24.50%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-16 16:44:49: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-16 16:44:54: In: do_the_elbow 


Begin 
 2020-04-16 16:44:59: In: do_the_elbow 


End 
 2020-04-19 17:27:54: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:27:59: In: do_the_elbow 


Begin 
 2020-04-19 17:28:05: In: do_the_elbow 


End 
 2020-04-19 17:30:53: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:30:58: In: do_the_elbow 


Begin 
 2020-04-19 17:31:03: In: do_the_elbow 


End 
 2020-04-19 17:32:19: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ## We are plotting the elbow method!
 2020-04-19 17:32:24: In: do_the_elbow 


Begin 
 2020-04-19 17:32:30: In: do_the_elbow 


End 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 17:39:49: In: run_rf End run_rfr part 1 
 2020-04-19 17:40:08: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 2020-04-19 17:40:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 17:44:18: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 17:44:24: In: do_the_elbow 


Begin 
 2020-04-19 17:44:30: In: do_the_elbow 


End 
 2020-04-19 18:13:30: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 18:17:08: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:17:13: In: do_the_elbow 


Begin 
 2020-04-19 18:17:19: In: do_the_elbow 


End 
 2020-04-19 18:19:57: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.91%
 ### Test score = 30.97%
 ###  Metrics test accuracy score = 30.97%
 ### Cross validation scores:  [0.30735456 0.30845225 0.29308452 0.30625686 0.28979144]
 ### Accuracy of Model with Cross Validation average is: 30.10%
 In conf_matrix_function: y_train.shape[0]=804
 In conf_matrix_function: y_pred_class.shape[0]=804
 2020-04-19 18:23:30: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:23:35: In: do_the_elbow 


Begin 
 2020-04-19 18:23:41: In: do_the_elbow 


End 
 2020-04-19 18:24:52: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 97.52%
 ### Training score = 97.52%
 ### Test score = 23.16%
 ###  Metrics test accuracy score = 23.16%
 ### Cross validation scores:  [0.22994029 0.23474589 0.23984273 0.22324159 0.22735217]
 ### Accuracy of Model with Cross Validation average is: 23.10%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 18:48:26: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 39.35%
 ###  Metrics test accuracy score = 39.35%
 ### Cross validation scores:  [0.40308723 0.3956604  0.39842726 0.39464104 0.39091174]
 ### Accuracy of Model with Cross Validation average is: 39.65%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 18:53:34: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 18:53:55: In: do_the_elbow 


Begin 
 2020-04-19 18:54:36: In: do_the_elbow 


End 
 2020-04-19 19:08:17: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 39.35%
 ###  Metrics test accuracy score = 39.35%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a2b3dc710>, 'use_idf': True}
 2020-04-19 19:12:37: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:15:01: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:15:22: In: do_the_elbow 


Begin 
 2020-04-19 19:16:03: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a263a9b90>, 'use_idf': True}
 2020-04-19 19:25:11: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:27:31: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:28:34: In: do_the_elbow 


Begin 
 2020-04-19 19:30:21: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a25699850>, 'use_idf': True}
 2020-04-19 19:32:00: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-19 19:34:23: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-19 19:35:26: In: do_the_elbow 


Begin 
 2020-04-19 19:37:10: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 19:51:38: In: do_the_elbow 


Begin 
 2020-04-19 19:52:13: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 19:57:55: In: do_the_elbow 


Begin 
 2020-04-19 19:58:31: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:48:23: In: do_the_elbow 


Begin 
 2020-04-19 20:48:59: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:50:54: In: do_the_elbow 


Begin 
 2020-04-19 20:51:28: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-19 20:52:37: In: do_the_elbow 


Begin 
 2020-04-19 20:53:11: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a425cb290>, 'use_idf': True}
 2020-04-21 22:45:59: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.44%
 ###  Metrics test accuracy score = 34.44%
 ### Cross validation scores:  [0.33711956 0.34454638 0.34425513 0.34731324 0.34430527]
 ### Accuracy of Model with Cross Validation average is: 34.35%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-21 22:48:23: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-21 22:48:24: In: do_the_elbow 


Begin 
 2020-04-21 22:49:01: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a359e0fd0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a29ef2e50>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a390a28d0>, 'use_idf': True}
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a59ffd5d0>, 'use_idf': True}
 2020-04-23 21:36:25: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 34.54%
 ###  Metrics test accuracy score = 34.54%
 ### Cross validation scores:  [0.34032329 0.34352701 0.34804136 0.34673074 0.34153801]
 ### Accuracy of Model with Cross Validation average is: 34.40%
 In conf_matrix_function: y_train.shape[0]=6059
 In conf_matrix_function: y_pred_class.shape[0]=6059
 2020-04-23 21:38:48: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.5, 'min_df': 2, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a35a40890>, 'use_idf': True}
 2020-04-23 21:45:05: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 37.44%
 ###  Metrics test accuracy score = 37.44%
 ### Cross validation scores:  [0.38206137 0.3804878  0.38678206 0.38243626 0.38070507]
 ### Accuracy of Model with Cross Validation average is: 38.25%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 21:47:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 21:47:05: In: do_the_elbow 


Begin 
 2020-04-23 21:47:36: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a385b9f50>, 'use_idf': True}
 2020-04-23 22:19:01: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 100.00%
 ### Test score = 41.64%
 ###  Metrics test accuracy score = 41.64%
 ### Cross validation scores:  [0.41384736 0.42029898 0.42517703 0.42382751 0.42414227]
 ### Accuracy of Model with Cross Validation average is: 42.15%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:21:45: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 22:21:46: In: do_the_elbow 


Begin 
 2020-04-23 22:22:52: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a502ac290>, 'use_idf': True}
 2020-04-23 22:25:36: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:26:36: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a34f21cd0>, 'use_idf': True}
 2020-04-23 22:28:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 ### Cross validation scores:  [0.42108576 0.42423289 0.42627852 0.42854895 0.43925087]
 ### Accuracy of Model with Cross Validation average is: 42.79%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:30:18: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a539dc7d0>, 'use_idf': True}
 2020-04-23 22:34:47: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: 
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a34336c90>, 'use_idf': True}
 2020-04-23 22:36:15: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 42.55%
 ###  Metrics test accuracy score = 42.55%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 300, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a537324d0>, 'use_idf': True}
 2020-04-23 22:38:15: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 42.89%
 ###  Metrics test accuracy score = 42.89%
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.25, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a98619ad0>, 'use_idf': True}
 2020-04-23 22:41:37: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:42:37: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'stop_words': 'english', 'lowercase': True, 'max_df': 0.5, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a71167110>, 'use_idf': True}
 2020-04-23 22:43:29: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'stop_words': 'english', 'tokenizer': <__main__.LemmaTokenizer object at 0x1a711c5d10>, 'use_idf': True}
 2020-04-23 22:45:09: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 37.22%
 ###  Metrics test accuracy score = 37.22%
 ### Cross validation scores:  [0.38017309 0.37734068 0.38426436 0.38086245 0.37566887]
 ### Accuracy of Model with Cross Validation average is: 37.97%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:46:10: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0025, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a74131c90>, 'use_idf': True}
 2020-04-23 22:49:07: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 39.84%
 ###  Metrics test accuracy score = 39.84%
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 200, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5f8d83d0>, 'use_idf': True}
 2020-04-23 22:50:30: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 99.99%
 ### Test score = 39.84%
 ###  Metrics test accuracy score = 39.84%
 ### Cross validation scores:  [0.40078678 0.40755311 0.41526357 0.40289581 0.40871892]
 ### Accuracy of Model with Cross Validation average is: 40.70%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:51:55: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 50, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a615c54d0>, 'use_idf': True}
 2020-04-23 22:54:45: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.17%
 ###  Metrics test accuracy score = 35.17%
 ### Cross validation scores:  [0.35389457 0.35892998 0.36113297 0.35930123 0.36496695]
 ### Accuracy of Model with Cross Validation average is: 35.96%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:55:37: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a70026750>, 'use_idf': True}
 2020-04-23 22:57:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 22:57:59: In: run_rf End run_rfr part 1 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a71a65550>, 'use_idf': True}
 2020-04-23 23:00:51: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-23 23:01:48: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-23 23:01:49: In: do_the_elbow 


Begin 
 2020-04-23 23:02:22: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:32:47: In: do_the_elbow 


Begin 
 2020-04-23 23:33:21: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:34:09: In: do_the_elbow 


Begin 
 2020-04-23 23:34:41: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-23 23:36:50: In: do_the_elbow 


Begin 
 2020-04-23 23:37:23: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a6bbefdd0>, 'use_idf': True}
 2020-04-26 10:01:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:02:03: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:02:03: In: do_the_elbow 


Begin 
 2020-04-26 10:02:37: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a64fbd590>, 'use_idf': True}
 2020-04-26 10:04:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 35.22%
 ###  Metrics test accuracy score = 35.22%
 ### Cross validation scores:  [0.3534225  0.35940205 0.36333596 0.35631099 0.35882908]
 ### Accuracy of Model with Cross Validation average is: 35.83%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:05:37: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:05:37: In: do_the_elbow 


Begin 
 2020-04-26 10:06:12: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a63484710>, 'use_idf': True}
 2020-04-26 10:13:02: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.73%
 ###  Metrics test accuracy score = 36.73%
 ### Cross validation scores:  [0.37831603 0.3621684  0.37600923 0.36908881 0.38523645]
 ### Accuracy of Model with Cross Validation average is: 37.42%
 In conf_matrix_function: y_train.shape[0]=765
 In conf_matrix_function: y_pred_class.shape[0]=765
 2020-04-26 10:13:09: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:13:09: In: do_the_elbow 


Begin 
 2020-04-26 10:13:14: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0005, 'max_features': 59, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a5f682fd0>, 'use_idf': True}
 2020-04-26 10:14:04: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.73%
 ###  Metrics test accuracy score = 36.73%
 ### Cross validation scores:  [0.37831603 0.3621684  0.37600923 0.36908881 0.38523645]
 ### Accuracy of Model with Cross Validation average is: 37.42%
 In conf_matrix_function: y_train.shape[0]=765
 In conf_matrix_function: y_pred_class.shape[0]=765
 2020-04-26 10:14:11: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:14:11: In: do_the_elbow 


Begin 
 2020-04-26 10:14:16: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a63d1f810>, 'use_idf': True}
 2020-04-26 10:16:58: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 100, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.03%
 ###  Metrics test accuracy score = 36.03%
 ### Cross validation scores:  [0.36726987 0.36805665 0.37450826 0.37063267 0.36559647]
 ### Accuracy of Model with Cross Validation average is: 36.92%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:18:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:18:06: In: do_the_elbow 


Begin 
 2020-04-26 10:19:01: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a7deb7390>, 'use_idf': True}
 2020-04-26 10:24:39: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 10:30:05: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 10:30:06: In: do_the_elbow 


Begin 
 2020-04-26 10:30:59: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a22838b10>, 'use_idf': True}
 2020-04-26 21:55:12: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 22:00:46: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 22:00:47: In: do_the_elbow 


Begin 
 2020-04-26 22:01:43: In: do_the_elbow 


End 
 ## We are plotting the elbow method!
 2020-04-26 22:17:01: In: do_the_elbow 


Begin 
 2020-04-26 22:17:55: In: do_the_elbow 


End 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a20f57090>, 'use_idf': True}
 2020-04-26 22:31:54: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-26 22:37:22: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-26 22:37:22: In: do_the_elbow 


Begin 
 2020-04-26 22:38:15: In: do_the_elbow 


End 
 2020-04-26 22:39:16: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-26 22:39:16: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a29c0eed0>, 'use_idf': True}
 2020-04-27 11:34:22: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 11:40:16: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 11:40:17: In: do_the_elbow 


Begin 
 2020-04-27 11:41:09: In: do_the_elbow 


End 
 2020-04-27 11:42:10: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-27 11:42:10: In: run_affinity_propagation 


Begin 
 Running tfidf witht parameters={'lowercase': True, 'max_df': 0.31, 'min_df': 0.0125, 'max_features': 100, 'norm': 'l2', 'smooth_idf': True, 'tokenizer': <__main__.LemmaTokenizer object at 0x1a222a4f90>, 'use_idf': True}
 2020-04-27 12:47:45: In: training_test_set In training_test_set, train_size=0.85, and test_size=0.15 
 # Inside run_rf, parameters passed were: {'n_estimators': 500, 'random_state': 10267347}
 ### Training score = 100.00%
 ### Test score = 36.60%
 ###  Metrics test accuracy score = 36.60%
 ### Cross validation scores:  [0.37088906 0.37498033 0.37922895 0.37724268 0.37897387]
 ### Accuracy of Model with Cross Validation average is: 37.63%
 In conf_matrix_function: y_train.shape[0]=5607
 In conf_matrix_function: y_pred_class.shape[0]=5607
 2020-04-27 12:53:09: In: run_rf End run_rfr part 1 
 ## We are plotting the elbow method!
 2020-04-27 12:53:10: In: do_the_elbow 


Begin 
 2020-04-27 12:54:03: In: do_the_elbow 


End 
 2020-04-27 12:55:03: In: run_affinity_propagation 


starting AffinityPropagation 
 2020-04-27 12:55:03: In: run_affinity_propagation 


Begin 
